// @tailwind base;
// @tailwind components;
// @tailwind utilities;

// :root {
//   --max-width: 1100px;
//   --border-radius: 12px;
//   --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
//     "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
//     "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

//   --foreground-rgb: 0, 0, 0;
//   --background-start-rgb: 214, 219, 220;
//   --background-end-rgb: 255, 255, 255;

//   --primary-glow: conic-gradient(
//     from 180deg at 50% 50%,
//     #16abff33 0deg,
//     #0885ff33 55deg,
//     #54d6ff33 120deg,
//     #0071ff33 160deg,
//     transparent 360deg
//   );
//   --secondary-glow: radial-gradient(
//     rgba(255, 255, 255, 1),
//     rgba(255, 255, 255, 0)
//   );

//   --tile-start-rgb: 239, 245, 249;
//   --tile-end-rgb: 228, 232, 233;
//   --tile-border: conic-gradient(
//     #00000080,
//     #00000040,
//     #00000030,
//     #00000020,
//     #00000010,
//     #00000010,
//     #00000080
//   );

//   --callout-rgb: 238, 240, 241;
//   --callout-border-rgb: 172, 175, 176;
//   --card-rgb: 180, 185, 188;
//   --card-border-rgb: 131, 134, 135;
// }

// @media (prefers-color-scheme: dark) {
//   :root {
//     --foreground-rgb: 255, 255, 255;
//     --background-start-rgb: 0, 0, 0;
//     --background-end-rgb: 0, 0, 0;

//     --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
//     --secondary-glow: linear-gradient(
//       to bottom right,
//       rgba(1, 65, 255, 0),
//       rgba(1, 65, 255, 0),
//       rgba(1, 65, 255, 0.3)
//     );

//     --tile-start-rgb: 2, 13, 46;
//     --tile-end-rgb: 2, 5, 19;
//     --tile-border: conic-gradient(
//       #ffffff80,
//       #ffffff40,
//       #ffffff30,
//       #ffffff20,
//       #ffffff10,
//       #ffffff10,
//       #ffffff80
//     );

//     --callout-rgb: 20, 20, 20;
//     --callout-border-rgb: 108, 108, 108;
//     --card-rgb: 100, 100, 100;
//     --card-border-rgb: 200, 200, 200;
//   }
// }

// * {
//   box-sizing: border-box;
//   padding: 0;
//   margin: 0;
// }

// html,
// body {
//   max-width: 100vw;
//   overflow-x: hidden;
// }

// body {
//   color: rgb(var(--foreground-rgb));
//   background: linear-gradient(
//       to bottom,
//       transparent,
//       rgb(var(--background-end-rgb))
//     )
//     rgb(var(--background-start-rgb));
// }

// a {
//   color: inherit;
//   text-decoration: none;
// }

// @media (prefers-color-scheme: dark) {
//   html {
//     color-scheme: dark;
//   }
// }

// body {
//   font-family: $fibm;
//   font-size: 0.875rem;
//   background-color: $bg;
// }
// .container {
//   max-width: 1092px;
// }
// .top-warning {
//   .swiper-slide a {
//     width: 100%;
//     display: block;
//     white-space: nowrap;
//     overflow: hidden;
//     text-overflow: ellipsis;
//   }
// }
// nav {
//   background-color: $main;
//   padding: 0.5rem 0;
//   z-index: 10;
// }
// .mainMenu {
//   & > li > a {
//     display: block;
//     border-radius: 0.25rem;
//   }
//   & > li.active,
//   & > li:hover {
//     & > a,
//     & > .btn,
//     & > .dropdown .btn {
//       background-color: rgba(white, 0.1);
//     }
//   }
// }
.mainSlide {
  height: 400px;
  z-index: 0;

  // .swiper-slide {
  //   opacity: 0 !important;
  //   @include gradient(
  //     0deg,
  //     rgba(black, 0.7) 10%,
  //     black 30%,
  //     black 70%,
  //     rgba(black, 0.7)
  //   );

  //   img {
  //     height: 100%;
  //     width: 100%;
  //     object-fit: cover;
  //     object-position: center center;
  //     opacity: 0.5 !important;
  //   }
  // }
  .swiper-slide-active {
    opacity: 1 !important;
  }
}
.mainSlideContent {
  z-index: 1;

  .swiper-slide {
    h1 {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      height: 5.5rem;
      display: flex;
      align-items: flex-end;
    }
    p {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
  }
}
// .mainSearch {
//   position: relative;
//   z-index: 5;
// }
// .searchNav {
//   a {
//     background-color: rgba(black, 0.7);

//     &.active,
//     &:hover {
//       background-color: $main;
//     }
//   }
// }
// .searchFlightDrop {
//   .btn-light {
//     &:hover {
//       background-color: $main;
//       color: white;
//     }
//   }
//   .dropdown-item {
//     white-space: normal;
//   }
// }
// .skyShopSlide {
//   a {
//     &:hover {
//       @include box-shadow(0 0.5rem 1rem rgba(black, 0.1));
//     }
//   }
// }
// .singleNews {
//   height: 100%;

//   img {
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
//     object-position: center center;
//     min-height: 15rem;
//   }
//   .text {
//     @include gradient(0deg, rgba(black, 0.9), transparent);
//   }
// }
// .singleFlight {
//   &:hover {
//     @include box-shadow(0 0.5rem 1rem rgba(black, 0.1));
//   }
//   .priceAction {
//     max-height: 10rem;
//     height: auto;
//     @include transition(0.2s ease);
//   }
//   &[aria-expanded="true"] {
//     margin-bottom: -0.5rem !important;

//     .priceAction {
//       max-height: 0;
//       overflow: hidden;
//       @include transform(scale(0));
//     }
//   }
// }
// .cheapRetunFlight {
//   overflow: hidden;
//   @include gradient(90deg, transparent, white);

//   img {
//     object-fit: contain;
//     object-position: center center;
//     width: 20rem;
//     animation-name: floater;
//     animation-duration: 10s;
//     animation-iteration-count: infinite;
//   }
// }
// .cheapReturnTable {
//   .table {
//     overflow: hidden;

//     button {
//       height: 2.75rem;
//       width: 100%;
//       background-color: transparent;
//       position: relative;
//       z-index: 1;

//       &.today {
//         background-color: $main;
//         color: white;
//       }
//       &.cheap {
//         background-color: mediumseagreen;
//         color: white;
//       }
//     }
//   }
//   td,
//   th {
//     position: relative;
//   }
//   td:hover::before {
//     background-color: rgba($main, 0.1);
//     content: "";
//     height: 100%;
//     left: -5000px;
//     position: absolute;
//     top: 0;
//     width: 10000px;
//     z-index: 0;
//   }
//   //Column
//   td:hover::after {
//     background-color: rgba($main, 0.1);
//     content: "";
//     height: 10000px;
//     left: 0;
//     position: absolute;
//     top: -5000px;
//     width: 100%;
//     z-index: 0;
//   }
// }
